// =Typography
// ----------------------------------------------

=sans-serif
  font:
    family: "IBM Plex Mono", Andale Mono, mono, -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif
  letter-spacing: -.02em

=font-size
  font-size: 18px

body
  +sans-serif
  line-height: 1.75
  font-weight: 400

h1,h2,h3,h4
  +sans-serif
  +font-size
  font-weight: 600

strong,
.link
  font-weight: 600

p, ul
  +font-size
