---
title: Sideband - Coming soon(ish)
---

%section.container{:role => "main"}

  %header{:role => "banner"}
    %h1
      Sideband
    %p
      Coming soon on iOS,
      %span
        Stay in the loop on
        %a.link{:href => "http://twitter.com/sidebandapp"}
          Twitter

  %figure.app
    %img{:src => "/assets/images/sideband-player-1.png"}

  %footer{:role => "contentinfo"}
    %p
      &copy; Sideband &mdash; 2018
