---
title: Sideband - Discover & enjoy podcasts on iOS.
---

%section.container{:role => "main"}

  %header{:role => "banner"}
    %figure.logo
      %img{:src => "/assets/images/sideband-logo.png"}
    %h1
      Sideband
    %p
      Discover &amp; enjoy podcasts on iOS.
      %span
        Follow along on
        %a.link{:href => "http://twitter.com/sidebandapp", :target => "_blank"}
          Twitter

  %figure.app
    %img{:src => "/assets/images/sideband-player-1.png"}

  %footer{:role => "contentinfo"}
    %p
      Sideband &mdash; 2018
